.btn-black {
  border: 3px solid #000;
  border-radius: 35px;
  color: #000;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 15px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  text-transform: uppercase;
  transition: .2s ease;
  &:hover {
    background-color: #000;
    color: #fff;
    text-decoration: none;
  }
  @media (max-width: 991px) {
    position: static;
    left: auto;
    bottom: auto;
    transform: none;
  }
}